################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MundiPagg.Api.Produto/.vs/MundiPagg.Api.Produto/v15
